<!DOCTYPE html>
<html>
<head>
	
    </script>
    <title>Login Window</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    
</head>
<body >
	
	 <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="loader">
					<div class="load_circle"></div>
					<div class="load_circle"></div>
					<div class="load_circle"></div>
				</div>
				<form class="login100-form validate-form" action="{{ url_for('login')}}"method="post">

					<span class="login100-form-title p-b-26">
						Welcome Patient!
					</span>

				    <div class="wrap-input100 validate-input">
					    <input class="input100" type="text" name="username" id="User">
					    <span class="focus-input100" data-placeholder="Username"></span>
				    </div>

				    <div class="wrap-input100 validate-input">
					    <span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						
					    <input class="input100" type="password" name="password">
					    <span class="focus-input100" data-placeholder="Password"></span>
				    </div>

					<div class="container-login100-form-btn">
						<span class="alert-v" data-validate="Incorrect username or Password"></span>
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Login
							</button>
							
						</div>
					</div>
			
					<div class="text-center p-t-15 d-f-v">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="{{url_for('signup')}}">
							Sign Up
						</a>

					</div>
				 </form>
					<h4 class="center">{{ invalied }} </h4>
		    </div>
        </div>
	</div>

	<div id="dropDownSelect1"></div>

	
	
</body>
</html>
